#app, #root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.item {
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  margin-top: 1rem;
}
.item:first-of-type {
  margin-top: 1rem;
}

.header h1, .header h2 {
  font-weight: normal;
}
.header a {
  color: #42b983;
}

.header .tag {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #4a4a4a;
  //display: inline-flex;
  font-size: .75rem;
  justify-content: center;
  line-height: 1.5;
  padding-top: 0.5em;
  margin-top: -0.5em;
  padding-bottom: 0.5em;
  margin-bottom: -0.5em;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}

.footnote {
  text-decoration: none;
  font-size: .7em;
  vertical-align: top;
  border-bottom: 1px dotted #004b6b;
}
.hidden {
  display: none;
}

.padBottom {
  margin-bottom: 1em;
}

.roundedOne {
  margin: .5em 0 0 0;
}
@media (min-width: 500px) {
  .choices {
    margin-top: .5em;
  }

}
@media (max-width: 499px) {
  .choices {
    margin-top: .5rem;
  }
  h3, h2, p {
    margin: 0;
  }
  h2 {
    padding-top: 2em;
    padding-bottom: .25em;
  }
}

.selectedFilters .multiselect__tag {
  background: gray;
  outline: none;
  color: white;
}
.selectedFilters .multiselect__tag-icon:hover {
  background: #666;
}
.selectedFilters .multiselect__tag-icon:after {
  color: #666;
}
.selectedFilters .multiselect__tag-icon:hover:after {
  color: white;
}

.tag {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: .75rem;
  justify-content: center;
  line-height: 1.5;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-octicon .octicon {
  vertical-align: text-top;
}
.align-octicon-bottom .octicon {
  vertical-align: initial;
}
h3.align-octicon-bottom .octicon {
  vertical-align: baseline;
}

@media (max-width: 499px) {
  .hide-sm {
    display: none;
  }
}

h2 {
  margin-top: 0;
}

.activity-title {
  text-align: center;
  font-size: 1.17em;
  color: #4a4a4a;
  display: block;
}

img.logo {
  display: block;
  margin: 1em auto;
}

.bottompad10 {
  margin-bottom: 1em;
  display: block;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

.language-tag {
  color: white;
  margin-left: 0.2em;
}

.activity-title {
  text-decoration: none;
}

.header a {
  color: #0366d6;
}

.item a {
  color: #4a4a4a;
  text-decoration: none;
}

.header a:hover, .item a:hover {
  text-decoration: underline;
}
.item a.muted-link {
  color: #4a4a4a;
}
.item a.muted-link:hover {
  color: #0366d6;
  text-decoration: none;
}

#v2-notice {
  width: 28em;
  height: 2rem;
  display: flex;
  background: #0854a0;
  position: absolute;
  border: 1px solid #094582;
  border-top: none;
  overflow: hidden;
  font-family: Verdana;
  top: 0;
  right: calc(50% - 14em);
  z-index: 9999;
  pointer-events: pointer;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  color: white;
  place-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#v2-notice a {
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 0px #333;
  padding-left: 0.25rem;
}

.github-fork {
  width: 15em;
  height: 5em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: pointer;
  font-size: 13px;
  text-decoration: none;
  text-align: right;
  color: #4a4a4a;
  display: block;
  padding: 1em;

  opacity: .3;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
}

@media (max-width: 767px) {
  .github-fork {
    top: 2.5rem;
    width: 100%;
    height: 1rem;
    padding: initial;
    text-align: center;
  }
  .github-fork .author {
    display: none;
  }
  .github-fork br {
    display: none;
  }
}


.github-fork a {
  color: rgba(74, 74, 74, 0.6);
}

.github-fork:hover, .github-fork:active {
  opacity: 1;
}

.lenses .Select-input > input {
  /* react-select: fix wierd box that shows up in chrome on prod builds */
  border: 0;
}
